.company {
    padding: 600px 0;
    padding-bottom: 350px;
    background-image: url("../../images/intro.png");
    background-repeat: no-repeat;
    background-position: 60px;
    background-size: cover;

    .container {
        margin-top: -300px;

        .company__heading {
            display: block;
            max-width: 550px;
            margin: 0;
            margin-bottom: 10px;
            padding: 0;
            font-family: "Gilroy", serif;
            font-style: normal;
            font-weight: 700;
            font-size: 60px;
            line-height: 74px;
            color: #ffffff;
        }

        .company__title {
            margin: 0;
            margin-bottom: 65px;
            font-family: "Gilroy", serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 17px;
            color: rgba(255, 255, 255, 0.7);
        }

        .company__btn_box {
            display: flex;
            width: 100%;
            max-width: 450px;
            justify-content: space-between;
            flex-wrap: wrap;

            .port_btn {
                width: auto;
                padding: 15px;
                padding-right: 80px;
                background: #dfbb7f;
                border-radius: 8px;
                border: none;
                background-image: url("../../images/port-icon.svg");
                background-repeat: no-repeat;
                background-size: 25px;
                background-position: 180px 21px;

                .port_link {
                    font-family: "Gilroy", serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    color: #ffffff;
                }
            }

            .phone_btn {
                padding: 12px 18px;
                padding-right: 100px;
                border: 1px solid #ffffff;
                border-radius: 8px;
                background: transparent;
                background-image: url("../../images/phone-icon.svg");
                background-repeat: no-repeat;
                background-size: 25px;
                background-position: 110px 21px;

                a {
                    font-family: "Gilroy", serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    color: #ffffff;
                }
            }
        }
    }
}

@include media-max(1660px) {
    .company {
        padding: 460px 0;
        padding-bottom: 380px;
    }
}

@include media-max(1600px) {
    .company {
        padding: 420px 0;
        padding-bottom: 358px;
        background-position: 20px;
    }
}

@include media-max(1495px) {
    .company {
        padding: 427px 0;
        padding-bottom: 316px;
        background-position: 14px;
    }
}

@include media-max(1460px) {
    .company {
        .container {
            padding-left: 95px;
        }
    }
}

@include media-max(1365px) {
    .company .container {
        padding-left: 55px;
    }
}

@include media-max(1295px) {
    .company {
        background-image: url("../../images/intro-tab.png");
        background-repeat: no-repeat;
        background-position: 10px;
        background-size: cover;
    }
}

@include media-max(1279px) {
    .company {
        padding: 459px 0;
        padding-bottom: 230px;
    }

    .company__heading {
        font-family: "Gilroy", serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: #ffffff;
    }
}

@include media-max(1030px) {
    .company {
        padding: 427px 0px;
        padding-bottom: 150px;
    }
}

@include media-max(990px) {
    .company {
        margin-top: 60px;
        margin-bottom: 50px;
        padding: 0px 0px;
        padding-bottom: 600px;
        background-image: url("../../images/intro-mob.png");
        background-repeat: no-repeat;
        background-position: 0;
        background-size: 1010px 2000px;
        border-radius: 10px;

        .container {
            margin-top: 0px;
            padding-top: 250px;
            padding-left: 100px;
        }
    }
}

@include media-max(920px) {
    .company {
        background-size: 925px 1775px;
    }
}

@include media-max(840px) {
    .company {
        background-size: 855px 1720px;
    }
}

@include media-max(790px) {
    .company {
        background-size: 750px 1450px;
    }
}

@include media-max(685px) {
    .company {
        background-size: 700px 1380px;

        .container {
            padding-left: 55px;
        }
    }
}

@include media-max(635px) {
    .company {
        background-size: 640px 1330px;

        .container {
            padding-left: 50px;
        }
    }
}

@include media-max(590px) {
    .company {
        background-size: 610px 1300px;
    }
}

@include media-max(550px) {
    .company {
        background-size: 600px 1300px;
    }
}

@include media-max(550px) {
    .company {
        background-size: contain;
        margin-top: 0;
        padding-top: 0px !important;

        .container {
            max-width: 490px;
            margin-bottom: 0;
            .company__heading {
                font-size: 48px;
            }

            .company__btn_box {
                flex-direction: column;

                .port_btn {
                    width: 100%;
                    max-width: 240px;
                    margin-bottom: 20px;
                    background-position: 175px 21px;
                }

                .phone_btn {
                    width: 100%;
                    max-width: 175px;
                    background-position: 125px 18px;
                }
            }
        }
    }
}
